<ion-menu side="end" content-id="main-content" drag-content="false">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Status</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Set Up</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cycle On</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cycle Off</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Others</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
