
  <div class="container-1" style="display: flex;">
    <div class="wrapper" [class.alarm-start]="statusAlarm" [style.--background-color]="wrapperBg">
      <div class="status" [style.--background-color]="bgColor"></div>
    </div>
    <div class="machin-label" (click)="navigateRouter()">
      <label style="font-size: medium;">{{machine.MachineLable}}</label>
      <br>
      <label style="font-size: small;">{{machine.MachineName}}</label>
      <br>
      <label style="font-size: small;">{{machine.PartNumber}}</label>
    </div>
    <div></div>
  </div>
  <div class="container-2" style="display: flex; width: 100%">
    <div class="status-bar" style="text-align: right; width: 50%;">
      <label style="font-size: small;">{{machine.MachineLable}}</label>
    </div>
    <div class="status-bar" style="text-align: right; width: 50%;">
      <label style="font-size: small;">{{totalTime}}</label>
    </div>
  </div>
  <div class="container-3">
    <ion-grid class="my-grid">
      <ion-row size="10">
        <ion-col class="cycle-off" [hidden]="cycleOffHidden" [size]="cycleOff"></ion-col>
        <ion-col class="setup" [hidden]="setupHidden" [size]="setup"></ion-col>
        <ion-col class="cycle-on" [hidden]="cycleOnHidden" [size]="cycleOn"></ion-col>
        <ion-col class="other" [hidden]="otherHidden" [size]="other"></ion-col>
      </ion-row>
    </ion-grid>
  </div>











